.inner {
  position: relative;
  display: flex;

  h3 {
    display: inline-block;
    margin-bottom: 0;
    color: #0E0E0E;
    font-size: 20px;
    font-family: 'NanumSquareNeoExtraBold';
    line-height: 30px;
  }

  .logo {
    position: absolute;
    top: 24px;
    left: 26px;
    height: 47px;
    z-index: 1;

    &::before {
      display: inline-block;
      width: 42px;
      height: 48px;
      background: url('../assets/images/favicon.svg') no-repeat center / contain;
      content: '';
    }

    &::after {
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 148px;
      height: 30px;
      margin-left: 12px;
      background: url('../assets/images/logo.svg') no-repeat center / contain;
      transform: translateY(-50%);
      content: '';
    }
  }

  aside {
    position: relative;
    width: 315px;
    flex-shrink: 0;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    background-color: #1E1E2D;

    a {
      display: block;
      width: 267px;
      height: 60px;
      border-radius: 4px;
      background-color: #019EF7;
      font-size: 20px;
      font-family: 'NanumSquareNeo';
      color: #fff;
      text-align: center;
      line-height: 60px;
      text-decoration: none;

      &:last-of-type {
        margin-top: 24px;
        margin-bottom: 47px;
        background-color: #F8A92F;
      }
    }
  }

  .btn_side {
    display: block;
    position: absolute;
    top: 22px;
    right: -25px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 7px 1px 20px -2px rgba(0, 0, 0, 0.16);

    img {
      position: absolute;
      width: 28px;
      height: 28px;
      top: 50%;
      left: 10px;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .btn_menu {
    display: none;
  }


  .main {
    width: calc(100% - 315px);
    flex-grow: 1;
  }

  .nav_inner {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 21px 0;
    background-color: #F1FAFF;

    .profile {
      overflow: hidden;
      position: relative;
      width: 51px;
      height: 51px;
      margin-right: 30px;
      border: none;
      border-radius: 8px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .system_notice {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border: 1px solid #B8C1D6;
    border-radius: 12px;
    background-color: #fff;

    .ico_notice {
      width: 24px;
      height: 24px;
    }

    p {
      display: inline-block;
      margin-left: 24px;
      margin-bottom: 0;
      color: #3E3E3E;
      font-size: 18px;
      font-family: 'NanumSquareNeoBlod';

      strong {
        &:first-of-type {
          margin-left: 8px;
        }

        color: #3E3E3E;
        font-size: 18px;
        font-family: 'NanumSquareNeo';
      }
    }

    a {
      margin-left: 18px;
      color: #019EF7;
      font-size: 18px;
      font-family: 'NanumSquareNeoBlod';
    }
  }

  .welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;

    p {
      margin-bottom: 0 !important;
      font-size: 18px;
      font-family: 'NanumSquareNeo';
      color: #3E3E3E;
      letter-spacing: -0.2px;

      span {
        color: #000000;
        font-size: 20px;
        font-family: 'NanumSquareNeoExtraBold';
        letter-spacing: -0.2px;

        &.color_grey {
          margin-left: 4px;
          color: #7F8D99;
          font-family: 'NanumSquareNeoBlod';
        }
      }
    }

    .date_box {
      color: #7F8D99;

      span {
        font-size: 20px;
        font-family: 'NanumSquareNeoLight';
        letter-spacing: -0.16px;
      }
    }
  }

  .contents {
    padding: 24px 30px 40px 30px;
  }

  .container {
    display: flex;
    flex-direction: row;

  }

  .container_left {
    width: 60%;
  }

  .board_wrap {
    display: flex;
    gap: 2px;


    .board {
      flex-grow: 1;

      &:nth-of-type(1) {
        margin-left: 0;
      }

      .top {
        display: flex;
        flex-wrap: nowrap;
        min-width: calc(100% / 4 - 6px);
        padding: 17px 28px 19px 28px;
        background-color: #008EDE;
        border-radius: 5px 5px 0 0;

        &.first {
          border-radius: 12px 5px 0 0;
        }

        &.last {
          border-radius: 5px 12px 0 0;
        }

        img {
          display: inline-block;
          width: 26px;
          height: 26px;
        }

        span {
          margin-left: 3px;
          color: #fff;
          font-size: 24px;
          font-family: 'NanumSquareNeo';
          line-height: 24px;
          text-wrap: wrap;
        }

      }

      .bottom {
        min-width: calc(100% / 4 - 6px);
        padding: 14px 32px 32px 28px;
        background-color: #019EF7;
        border-radius: 0 0 5px 5px;

        &.first {
          border-radius: 0 0 5px 12px;
        }

        &.last {
          border-radius: 0 0 12px 5px;
        }
        .wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
          height: 39px;

          &:last-of-type {
            margin-top: 8px;
          }

          .subject {
            color: #fff;
            font-size: 14px;
            font-family: 'NanumSquareNeo';
            opacity: 60%;
          }

          .info {
            color: #fff;
            font-size: 16px;
            font-family: 'NanumSquareNeo';

            strong {
              margin-right: 6px;
              font-size: 26px;
              font-family: 'NanumSquareNeoBlod';
            }
          }
        }
      }
    }
  }

  .current_area {
    position: relative;
    margin-top: 13px;
    padding: 19px 0 0 28px;
    box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
    border-radius: 12px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 44px;

      .wrap {
        display: flex;
        align-items: center;
      }

      .dropdown {
        position: relative;
        width: 180px;
        margin-left: 24px;

        &[aria-expanded="true"] {
          .btn_dropdown::after {
            top: 10px;
            transform: rotate(180deg);
            transition: transform 0.3s ease;
          }

          .dropdown_list {
            display: block;
            transition: transform 0.3s ease;
          }
        }
      }

      .btn_dropdown {
        position: relative;
        width: 180px;
        padding: 9px;
        font-size: 15px;
        font-family: 'NanumSquareNeo';
        color: #212121;
        background-color: #fff;
        border: 1px solid #BDBDBD;
        border-radius: 4px;
        text-align: left;
        cursor: pointer;

        &::after {
          position: absolute;
          display: inline-block;
          top: 18px;
          right: 7px;
          width: 14px;
          height: 14px;
          background: url('../assets/images/arrow.svg') no-repeat center / contain;
          transform: translateY(-50%);
          transition: transform 0.3s ease;
          content: '';
        }
      }

      .dropdown_list {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #fff;
        border: 1px solid #BDBDBD;
        text-align: left;
        cursor: pointer;
        transition: transform 0.3s ease;
        z-index: 1;
      }

      .dropdown_item {
        padding: 8px;
        color: #212121;
        font-size: 14px;
        font-family: 'NanumSquareNeoLight';

        &:hover {
          background-color: #F2F4F7;
        }
      }

      a {
        font-size: 16px;
        font-family: 'NanumSquareNeo';
        color: #F8A92F;

      }
    }

    .mobile_dropdown_wrap {
      display: none;
    }

    .bottom {
      position: relative;

      .btn_next {
        position: absolute;
        top: 10px;
        right: 34px;
        width: 28px;
        height: 28px;
        border: none;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 1.4px 12px 0 rgba(55, 78, 126, 0.26);
        z-index: 1;

        &::after {
          display: inline-block;
          width: 10px;
          height: 14px;
          margin-top: 3px;
          background: url('../assets/images/arrow_right.svg') no-repeat center;
          content: '';
        }
      }

      .menu {
        display: flex;
        flex-wrap: nowrap;
        max-width: 90%;
        margin-top: 15px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        li {
          position: relative;
          display: flex;
          align-items: center;
          flex-grow: 1;
          flex-shrink: 0;
          flex-wrap: nowrap;
          padding: 10px 9px 10px 16px;
          font-size: 18px;
          font-family: 'NanumSquareNeoLight';
          color: #6E6E6E;
          cursor: pointer;

          &.active {
            font-family: 'NanumSquareNeoExtraBold';
            color: #000;

            &::after {
              position: absolute;
              width: 100%;
              height: 3.5px;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #F8A92F;
              content: '';
            }

            span {
              color: #fff;
              background-color: #F8A92F;
            }
          }

          span {
            position: relative;
            width: 28px;
            height: 28px;
            margin-left: 6px;
            color: #6E6E6E;
            font-size: 12px;
            font-family: 'NanumSquareNeo';
            line-height: 26px;
            text-align: center;
            border-radius: 50%;
            background-color: #F2F4F7;
          }
        }
      }

      .grid {
        max-height: 390px;
        overflow-x: scroll;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 44px;
        }
        &::-webkit-scrollbar-thumb {
          max-height: 70px;
          border: 19px solid transparent;
          border-radius: 50px;
          background-color: #A8B6C4;
          background-clip: padding-box;
        }
        
        &::-webkit-scrollbar-track {
          background-color: rgba(0, 0, 0, 0);
        }
        &::-webkit-scrollbar-button {
          display: none;
        }
      }

      .grid_header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        min-width: 100%;
        margin-bottom: 0;

        li {
          flex-wrap: nowrap;
          flex-grow: 1;
          height: 42px;
          line-height: 42px;
          color: #3E3E3E;
          font-size: 16px;
          font-family: 'NanumSquareNeo';
          background-color: #F2F4F7;
          text-align: center;

          &:first-of-type {
            min-width: 17.6%;
          }

          &.title {
            max-width: 324px;
          }
        }
      }

      .grid_body {

        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
          min-width: 100%;
          height: 58px;
          padding-left: 0;
          margin-bottom: 0;
          border-bottom: 1px solid #8D9CBE;

          &:last-of-type {
            border-bottom: none;
          }
        }

        li {
          overflow: hidden;
          width: 100%;
          color: #3E3E3E;
          font-size: 14px;
          font-family: 'NanumSquareNeo';
          line-height: 58px;
          text-align: center;
          text-overflow: ellipsis;
          word-break: break-all;
          white-space: nowrap;

          &:first-of-type {
            min-width: 17.6%;
          }

          &.txt-left {
            text-align: left;
          }

          &.active {
            color: #FF0000;
            font-family: 'NanumSquareNeoHeavy';
          }
        }
      }
    }
  }

  .monthly_area {
    margin-top: 24px;
    padding: 24px 28px 17px 28px;
    box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
    border-radius: 12px;

    .top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 22px;
    }

    .bottom {
      .bar_chart_area {
        height: 273px;

        p {
          margin-top: 2rem;
          font-size: 13px;
        }

        #bar-chart {
          width: 100%;
          ;
          height: 100%;
          position: relative;
        }
      }
    }
  }

  .container_right {
    width: calc(40% - 14px);
    margin-left: 14px;

    .wrap {
      display: flex;
      flex-direction: column;
    }
  }

  .assignment_area {
    padding: 24px 0;
    box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
    border-radius: 12px;

    .top {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 28px 20px 28px;

      .date {
        display: block;
      }

      .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
      }

      .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        min-width: 23.4%;

        span {
          flex-shrink: 0;
          font-size: 18px;
          font-family: 'NanumSquareNeo';
          color: #7F8D99;

          &.active {
            color: #F8A92F;
            font-weight: 900px;
          }
        }

        input {
          appearance: none;
          position: relative;
          width: 30px;
          height: 15px;
          z-index: 1;

        }

        label {
          position: absolute;
          width: 30px;
          height: 15px;

          background-color: #F8A92F;
          border-radius: 113px;
          transition: background 0.4s;
        }

        label::after {
          position: absolute;
          right: 1px;
          top: 50%;
          width: 13px;
          height: 13px;
          border-radius: 100%;
          background-color: #fff;
          transform: translateY(-50%);
          transition: all 0.4s;
          content: '';
        }

        label::before {
          font-size: 24px;
          position: absolute;
          left: 47px;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.4s;
          content: '';
        }

        #switch:checked+label::after {
          right: 16px;
        }

      }
    }

    .bottom {
      border-top: 1px solid #D1D7E5;

      .data {
        &.details {
          display: none;

          &.is-show {
            display: block;
          }

          .option_dropdown_area {
            display: flex;
            gap: 12px;
            padding: 18px 47px 28px 28px;
          }

          .option_dropdown_wrap {
            position: relative;
            flex-grow: 1;
            flex-shrink: 0;
            max-width: calc(100% / 3 - 12px);

            &[aria-expanded="true"] {
              .option_dropdown_btn::after {
                top: 12px;
                transform: rotate(180deg);
                transition: transform 0.3s ease;
              }

              .option_dropdown_list {
                display: block;
                transition: transform 0.3s ease;
              }
            }
          }

          .option_dropdown_btn {
            overflow: hidden;
            width: 100%;
            height: 39px;
            padding: 0 8px;
            font-size: 15px;
            border: 1px solid #BDBDBD;
            background-color: #fff;
            border-radius: 4px;
            text-align: left;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
            cursor: pointer;

            &::after {
              position: absolute;
              display: inline-block;
              top: 50%;
              right: 8px;
              width: 13px;
              height: 13px;
              background: url('../assets/images/arrow.svg') no-repeat center / contain;
              transform: translateY(-50%);
              transition: transform 0.3s ease;
              content: '';
            }
          }

          .option_dropdown_list {
            position: absolute;
            display: none;
            top: 100%;
            width: 100%;
            border: 1px solid #BDBDBD;
            text-align: left;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
            transition: transform 0.3s ease;
            z-index: 1;
          }

          .option_dropdown_item {
            padding: 8px;
            font-size: 14px;
            cursor: pointer;
          }

          .state {
            padding: 0 44px 0 28px;
            margin-bottom: 0;

            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 30px;
              margin-top: 20px;

              &:first-of-type {
                margin-top: 0;
              }

              .subject {
                font-size: 16px;
                color: #A1AFBC;
              }

              .info {
                font-size: 20px;
                color: #000;

                strong {
                  margin-right: 3px;
                }
              }
            }
          }
        }

        &.summary {
          display: none;

          &.is-show {
            display: block;
          }

          .option_dropdown_area {
            display: flex;
            gap: 12px;
            padding: 18px 28px 12px 28px;
          }

          .option_dropdown_wrap {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 0;

            &[aria-expanded="true"] {
              .option_dropdown_btn::after {
                top: 12px;
                transform: rotate(180deg);
                transition: transform 0.3s ease;
              }

              .option_dropdown_list {
                display: block;
                transition: transform 0.3s ease;
              }
            }

            .division {
              display: flex;
              gap: 12px;

              span {
                display: flex;
                color: #828282;
                font-size: 16px;
                font-family: 'NanumSquareNeo';
                line-height: 24px;

                &::before {
                  display: inline-block;
                  width: 22px;
                  height: 22px;
                  margin-right: 12px;
                  background-color: #EBEBEB;
                  border-radius: 50%;
                  content: '';
                }

                &:last-of-type::before {
                  background-color: #F8A92F;
                }
              }
            }
          }

          .option_dropdown_btn {
            overflow: hidden;
            position: relative;
            min-width: 114px;
            height: 39px;
            padding: 0 8px;
            border: 1px solid #BDBDBD;
            background-color: #fff;
            border-radius: 4px;
            text-align: left;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
            cursor: pointer;

            &::after {
              position: absolute;
              display: inline-block;
              top: 20px;
              right: 8px;
              width: 13px;
              height: 13px;
              background: url('../assets/images/arrow.svg') no-repeat center / contain;
              transform: translateY(-50%);
              transition: transform 0.3s ease;
              content: '';
            }
          }

          .option_dropdown_list {
            position: absolute;
            display: none;
            top: 100%;
            width: 100%;
            border: 1px solid #BDBDBD;
            text-align: left;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
            transition: transform 0.3s ease;
            z-index: 1;
          }

          .option_dropdown_item {
            padding: 8px;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .completed_area {
    margin-top: 10px;
    padding: 28px 18px 40px 38px;
    box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
    border-radius: 12px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .info_wrap {
      height: 32px;
      margin-top: 18px;

      span {
        font-size: 18px;
        font-family: 'NanumSquareNeoExtraBold';
        line-height: 32px;
      }

      .bg_grey {
        padding: 4px 12px;
        font-size: 16px;
        font-family: 'NanumSquareNeo';
        color: #171717;
        background-color: #EFF2F5;
        border-radius: 20px;
      }

      .bg_blue {
        margin-left: 22px;
        padding: 4px 12px;
        font-size: 16px;
        font-family: 'NanumSquareNeo';
        color: #fff;
        background-color: #019EF7;
        border-radius: 20px;
      }
    }

    .ring_chart {
      height: 257px;
      margin-top: 53px;
      text-align: center;

      .chart-gauge {
        font-family: 'NanumSquareNeoHeavy';
        text-anchor: middle;
        padding-top: 0;
        max-width: 270px;
        max-height: 257px;
        stroke-linecap: round;
      }

      .chart-gauge-label {
        fill: #019EF7;
        font-size: 20px;
      }

      .chart-gauge-base {
        fill: none;
        stroke: #c4c4c4;
        stroke-width: 4.5;
      }

      .chart-gauge-primary {
        fill: none;
        stroke: #019EF7;
        stroke-width: 5;
        animation: load-gauge 2s linear forwards;
      }

      .chart-gauge-secondary {
        fill: none;
        stroke: #c4c4c4;
        stroke-width: 4.8;
        animation: load-gauge 2s linear forwards;
      }

      @keyframes load-gauge {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  .notice_area {
    margin-top: 38px;
    padding: 24px 28px;
    box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
    border-radius: 12px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 22px;

      a {
        color: #F8A92F;
        font-family: 'NanumSquareNeo';

      }
    }

    ul {
      margin-bottom: 0;
      padding-left: 0;
      border-top: 1px solid #8D9CBE;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 34px;
        padding: 0 8px;
        border-bottom: 1px solid #D1D7E5;


        p {
          font-size: 14px;
          font-family: 'NanumSquareNeo';
          color: #3E3E3E;
        }

        span {
          font-size: 12px;
          color: #A1AFBC;
          font-family: 'NanumSquareNeo';
        }
      }
    }
  }

  .w-83 {
    min-width: 83px;
  }

  .w-93 {
    max-width: 93px;
  }

  .w-324 {
    min-width: 324px;
  }
}


@media (max-width: 1499px) {
  .inner {
    flex-direction: column;

    .logo {
      position: absolute;
      top: 18px;
      left: 26px;
      height: 47px;

      &::before {
        height: 45px;
      }
    }

    aside {
      width: 100%;
    }

    .btn_side {
      display: none;
    }

    .btn_menu {
      display: block;
      position: absolute;
      top: 50%;
      right: 24px;
      width: 50px;
      height: 50px;
      padding: 0;
      background-color: transparent;
      border: none;
      box-shadow: none;
      transform: translateY(-50%);

      img {
        width: 27px;
        height: 18px;
      }
    }

    .sidebar {
      width: 100%;
      height: 80px;
      background-color: #1E1E2D;

      a {
        display: none;
      }
    }

    .main {
      width: 100%;
    }

    .nav_inner {
      display: none;
    }

    .system_notice {
      padding: 16px 28px;

      a {
        margin-left: 18px;
      }
    }

    .contents {
      padding: 24px 24px 60px 24px;
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    .container_left {
      width: 100%;
    }

    .board_wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 4px;
      grid-row-gap: 4px;

      .board {
        .top {
          padding: 12px 40px 14px 40px;
          background-color: #008EDE;
          border-radius: 5px 5px 0 0;

          &.first {
            border-radius: 12px 5px 0 0;
          }

          &.second {
            border-radius: 5px 12px 0 0;
          }

          &.third {
            border-radius: 12px 5px 0 0;
          }

          &.last {
            border-radius: 5px 12px 0 0;
          }

          img {
            display: inline-block;
            width: 34px;
            height: 34px;
          }

          span {
            margin-left: 10px;
            line-height: 34px;
          }
        }

        .bottom {
          min-width: calc(50% - 8px);
          padding: 21px 42px 20px 37px;
          border-radius: 0 0 5px 5px;

          &.first {
            border-radius: 0 0 5px 12px;
          }

          &.second {
            border-radius: 0 0 12px 5px;
          }

          &.third {
            border-radius: 0 0 5px 12px;
          }

          &.last {
            border-radius: 0 0 12px 5px;
          }

          .wrap {
            &:last-of-type {
              margin-top: 17px;
            }
          }
        }
      }
    }

    .current_area {
      margin-top: 24px;
      padding: 24px 0 24px 24px;
      box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
      border-radius: 12px;

      ul {
        display: none;
      }

      a {
        font-size: 16px;
        font-family: 'NanumSquareNeo';
        color: #F8A92F;

      }

      .mobile_dropdown_wrap {
        display: none;
      }
      .top {
        padding-right: 24px;
      }

      .bottom {
        .menu {
          width: 100%;
          margin-top: 18px;

          li {
            font-size: 18px;
          }
        }

        .grid {
          overflow-x: scroll;
          overflow-y: scroll;
          max-height: 465px;
          &::-webkit-scrollbar {
            width: 22px;
          }

          &::-webkit-scrollbar-track {
            background-color: #fff;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 50px;
            border-color: #A8B6C4;
            background-color: #A8B6C4;
            background-clip: padding-box;
            border: 9px solid #fff;
          }
        }

        .grid_header {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-around;
          max-height: 48px;
          margin-bottom: 0;
          padding-left: 0;

          li {
            &.title {
              max-width: 324px;
            }
          }
        }

        .grid_body {

          li {
            padding: 0;
            font-size: 16px;
            line-height: 58px;
          }
        }
      }
    }

    .monthly_area {
      padding: 28px 0 24px 24px;

      .top {
        padding-right: 24px;
        padding-bottom: 22px;
      }

      .bottom {
        .bar_chart_area {
          #bar-chart {
            overflow-x: scroll;
            overflow-y: hidden;
            &::-webkit-scrollbar {
              width: 18px;
              background-color: #fff;
            }
  
            &::-webkit-scrollbar-track {
              background-color: #fff;
            }
  
            &::-webkit-scrollbar-thumb {
              border-radius: 50px;
              border-color: #A8B6C4;
              background-color: #A8B6C4;
              background-clip: padding-box;
              border: 6px solid #fff;
            }
          }

          p {
            margin-top: 2rem;
            font-size: 13px;
          }

          #bar-chart {
            width: 100%;
            ;
            height: 100%;
            position: relative;
          }
        }
      }
    }

    .container_right {
      width: 100%;
      margin-top: 24px;
      margin-left: 0;

      .wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 12px;
      }
    }

    .assignment_area {
      padding: 24px 0 0;

      .top {
        padding: 0 24px 15px 24px;

        .date {
          display: none;
        }

        .toggle {
          min-width: auto;
          gap: 7px;
          justify-content: space-evenly;
        }
      }

      .bottom {
        border-top: 1px solid #D1D7E5;

        .data {

          /* 상세 배정 현황 UI */
          &.details {
            .option_dropdown_area {
              justify-content: space-evenly;
              gap: 10px;
              padding: 20px 24px 45px 24px;
            }

            .option_dropdown_wrap {
              max-width: calc(100% / 3);
            }

            .option_dropdown_btn {
              min-width: 97px;
              margin-left: 10px;

              &:first-of-type {
                margin-left: 0;
              }

              font-size: 15px;
              color: #212121;
              padding: 0 4px;

              &::after {
                right: 3px;
              }
            }

            .option_dropdown_list {
              display: none;
            }

            .state {
              padding: 0 24px 0 28px;

              li {
                height: 30px;

                .info {
                  font-family: 'NanumSquareNeoExtraBold';

                  strong {
                    margin-right: 3px;
                  }
                }
              }
            }
          }

          &.summary {
            .option_dropdown_area {
              padding: 20px 24px 39px 24px;
            }

            .option_dropdown_btn {
              overflow: hidden;
              position: relative;
              min-width: 114px;
              height: 39px;
              padding: 0 8px;
              border: 1px solid #BDBDBD;
              background-color: #fff;
              border-radius: 4px;
              text-align: left;
              text-overflow: ellipsis;
              word-break: break-all;
              white-space: nowrap;
              cursor: pointer;

              &::after {
                position: absolute;
                display: inline-block;
                top: 20px;
                right: 8px;
                width: 13px;
                height: 13px;
                background: url('../assets/images/arrow.svg') no-repeat center / contain;
                transform: translateY(-50%);
                transition: transform 0.3s ease;
                content: '';
              }
            }

            .option_dropdown_list {
              position: absolute;
              display: none;
              top: 100%;
              width: 100%;
              border: 1px solid #BDBDBD;
              text-align: left;
              text-overflow: ellipsis;
              word-break: break-all;
              white-space: nowrap;
              transition: transform 0.3s ease;
              z-index: 1;
            }

            .option_dropdown_item {
              padding: 8px;
              font-size: 14px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .completed_area {
      margin-top: 0;
      padding: 28px 24px 28px 24px;
      box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
      border-radius: 12px;

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .time {
          display: none;
        }
      }

      .ring_chart {
        margin-top: 34px;

      }
    }

    .notice_area {
      margin-top: 24px;

      .top {
        padding-bottom: 24px;

        a {
          color: #F8A92F;
          font-family: 'NanumSquareNeo';

        }
      }

      ul {
        margin-bottom: 0;
        padding-left: 0;
        border-top: 1px solid #8D9CBE;
      }
    }

  }
}

@media (max-width: 767px) {
  .inner {
    h3 {
      font-size: 18px;
    }

    .logo {
      top: 12px;
      left: 18px;
      height: 25px;

      &::before {
        width: 24px;
        height: 25px;
      }

      &::after {
        width: 85px;
        height: 18px;
      }
    }

    .btn_menu {
      right: 18px;
      width: 24px;
      height: 24px;

      img {
        width: 18px;
        height: 12px;
      }
    }

    .sidebar {
      height: 50px;

      a {
        display: none;
      }
    }

    .nav_inner {
      display: none;
    }

    .welcome {
      padding: 18px 0;

      p {
        span {
          font-size: 14px;

          &.color_grey {
            font-size: 12px;
          }
        }
      }

      .date_box {
        span {
          font-size: 10px;
          font-weight: normal;
          letter-spacing: -0.16px;
        }
      }
    }

    .system_notice {
      padding: 10px 18px;

      .ico_notice {
        width: 24px;
        height: 18px;
      }

      p {
        position: relative;
        margin-left: 8px;
        font-size: 12px;

        strong {
          font-size: 12px;

          &:first-of-type {
            margin-left: 4px;
          }
        }
      }

      a {
        position: absolute;
        right: 36px;
        margin-left: 0;
        font-size: 12px;
      }
    }

    .contents {
      padding: 16px 18px 72px 18px;
    }

    .board_wrap {
      grid-row-gap: 2px;
      grid-column-gap: 2px;

      .board {
        .top {
          align-items: center;
          padding: 14px 12px 14px 12px;

          img {
            width: 24px;
            height: 24px;
          }

          span {
            margin-left: 4px;
            line-height: 16px;
            font-size: 16px;
          }
        }

        .bottom {
          padding: 16px 14px 16px 18px;
          border-radius: 0 0 5px 5px;

          .wrap {
            &:last-of-type {
              margin-top: 16px;
            }
          }
        }
      }
    }

    .current_area {
      padding: 14px 0 18px 18px;

      .top {
        padding-right: 14px;
        .dropdown {
          display: none;
        }
      }

      .mobile_dropdown_wrap {
        display: flex;
        gap: 10px;
        margin-top: 15px;

        button {
          position: relative;
          padding: 8px;
          color: #212121;
          background-color: #fff;
          border: 1px solid #BDBDBD;
          border-radius: 4px;
          font-size: 14px;
          font-family: 'NanumSquareNeo';
          text-align: left;

          &::after {
            position: absolute;
            display: inline-block;
            top: 50%;
            right: 7px;
            width: 14px;
            height: 14px;
            background: url('../assets/images/arrow.svg') no-repeat center / contain;
            transform: translateY(-50%);
            content: '';
          }

          &.left {
            min-width: 170px;
          }

          &.right {
            min-width: 120px;
          }
        }
      }


      .bottom {
        .btn_next {
          display: none;
        }

        .menu {
          display: none;
        }

        .grid {
          overflow-x: scroll;
          overflow-y: scroll;
          margin-top: 24px;
          &::-webkit-scrollbar {
            width: 18px;
            background-color: #fff;
          }

          &::-webkit-scrollbar-track {
            background-color: #fff;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 50px;
            border-color: #A8B6C4;
            background-color: #A8B6C4;
            background-clip: padding-box;
            border: 6px solid #fff;
          }
          &::-webkit-scrollbar-button {
            display: none;
          }
        }

        .grid_header {
          max-height: 42px;

          li {
            &.title {
              max-width: 200px;
            }
          }
        }

        .grid_body {
          overflow-x: scroll;
          min-width: 100%;
          li {
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            line-height: 52px;
            &:first-of-type {
              min-width: auto;
            }
          }
        }
      }
    }

    .monthly_area {
      padding: 14px 18px 28px 14px;

      .top {
        padding-right: 0;
        padding-bottom: 0;

        .date {
          display: flex;
          align-items: center;

          span {
            font-size: 14px;
          }
        }
      }

      .bottom {
        margin-top: 27px;
      }
    }

    .container_right {
      .wrap {
        display: block;
      }
    }

    .assignment_area {
      padding: 14px 0 46px;

      .top {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px 18px 18px;

        .toggle {
          span {
            font-size: 14px;
          }
        }

        .date {
          display: none;
        }
      }

      .bottom {

        .data {

          &.details {
            .option_dropdown_area {
              padding: 18px 15px 28px 18px;
            }

            .option_dropdown_wrap {
              min-width: 97px;
            }

            .option_dropdown_btn {
              padding: 0 3px;
            }
          }

          .state {
            padding: 0 18px;
          }

          &.summary {
            .option_dropdown_area {
              padding: 18px 18px 32px 18px;
            }

            .option_dropdown_btn {
              min-width: 94px;
              padding: 0 3px;
            }
          }

        }
      }
    }

    .completed_area {
      margin-top: 24px;
      padding: 14px 18px 24px 18px;

      .info_wrap {
        span {
          font-size: 16px;
          line-height: 24px;
        }

        .bg_grey,
        .bg_blue {
          font-size: 14px;
        }
      }

      .chart {
        margin-top: 24px;
      }
    }

    .notice_area {
      margin-top: 24px;
      padding: 18px 18px 23px 18px;

      .top {
        padding-bottom: 20px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}
