.inner {
  min-width: 100%;
  font-family: "NanumSquareNeo";

  .cursor-pointer {
    cursor: pointer;
  }
  .blind {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
  }

  a {
    cursor: pointer;
    text-decoration: 0;
  }

  .date {
    display: inline-block;
    color: #a1afbc;

    span {
      color: #a1afbc;
      font-size: 16px;
      font-family: "NanumSquareNeo";
    }
  }
}
