.inner_login {
  background-color: #1e1e1e;

  .sec_login {
    display: grid;
    // grid-template-columns: 40.75rem;
    grid-template-columns: 652px 652px;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    margin-top: 178px;
  }

  .panel_left {
    position: relative;
    padding: 143px 104px;
    background-color: #fff;
    border-radius: 20px 0 0 20px;

    .header_text {
      color: #737373;
      font-size: 18px;
    }

    .logo_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 295px;
      margin-top: 8px;
    }

    .logo {
      position: relative;
      top: auto;
      left: auto;
    }

    .login_text {
      display: inline-block;
      font-size: 29px;
      font-family: "NanumSquareNeoExtraBold";
    }

    .login_form_wrap {
      margin-top: 40px;
    }

    .input_item {
      position: relative;
      height: 54px;
      input {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 24px 24px 8px;
        font-size: 16px;
        border: 1px solid #d7d7d7;
        border-radius: 12px;
        outline: none;
        &:focus-within {
          border: 1px solid #f8a92f;
        }
        &:focus-within + label {
          top: 12px;
          left: 20px;
          font-size: 10px;
          transition: all 0.3s;
        }
      }
      label {
        position: absolute;
        top: 19px;
        left: 24px;
        color: #bebebe;
        font-size: 16px;
        transition: all 0.3s;
      }
      &.password {
        margin-top: 12px;
      }
    }

    .login_keep_area_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
    }

    .login_keep_wrap {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    #keepLogin {
      appearance: none;
      width: 23px;
      height: 23px;
      &::after {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("../../assets/images/checkbox.svg") no-repeat center /
          contain;
        content: "";
      }
      &:checked::after {
        background: url("../../assets/images/checkbox-active.svg") no-repeat
          center;
      }
    }

    .login_keep_label {
      color: #3b3b3b;
      font-size: 14px;
    }

    .msg_password {
      justify-self: end;
      color: #3b3b3b;
      font-size: 14px;
      text-decoration: underline;
    }

    .btn_login {
      width: 100%;
      margin-top: 36px;
      padding: 22px 0;
      color: #ffffff;
      border: none;
      border-radius: 12px;
      background-color: #f4a03b;
      font-size: 16px;
    }
  }

  .panel_right {
    display: grid;
    grid-template-rows: 176px 165px 212px;
    grid-template-columns: 1fr;
    row-gap: 13px;
    padding: 56px 36px 56px 39px;
    background-color: #f2f3f8;
    border-radius: 0 20px 20px 0;

    & > div {
      border-radius: 12px;
      background-color: #ffffff;
    }

    .grid_inner {
      display: flex;
      column-gap: 12px;
      background-color: #f2f3f8;
    }

    .carecon_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 18px 30px;
      background-color: #ffffff;
      border-radius: 12px;
      text-align: center;
    }

    .title_carecon {
      font-family: "NanumSquareNeoExtraBold";
      font-size: 16px;
    }

    .number_box {
      margin-top: 25px;
      font-size: 0;
      span {
        display: inline-block;
        margin-left: 8px;
        padding: 7px 10px;
        border-radius: 4px;
        background-color: #f2f4f7;
        font-family: "NanumSquareNeoExtraBold";
        font-size: 20px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    .btn_carecon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      width: 212px;
      margin: 0 auto;
      margin-top: 25px;
      padding: 10px 0;
      background-color: #1897f4;
      border-radius: 12px;
      font-family: "NanumSquareNeoBold";
      font-size: 14px;
      color: #ffffff;
      border: none;
    }

    .img_carecon {
      width: 85px;
    }

    .go_service_container {
      display: grid;
      grid-template-columns: 294px;
      grid-template-rows: 83px 83px;
      row-gap: 10px;
      background-color: #f2f4f7;
      border-radius: 12px;

      .go_service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 14px 14px 14px 18px;
        background-color: #ffffff;
        border-radius: 12px;
      }

      p {
        font-size: 14px;
        color: #1e1e1e;
      }

      a {
        display: inline-block;
        font-family: "NanumSquareNeoExtraBold";
        font-size: 18px;
      }
    }

    .app_download {
      padding: 18px 18px 18px 28px;

      .download_inner {
        display: flex;
        flex-direction: column;
      }

      .title_download {
        margin-bottom: 13px;
        font-size: 16px;
        font-family: "NanumSquareNeoExtraBold";
      }

      .qr_wrap {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 257px;
        margin-left: 17px;
        padding: 21px 18px;
        background-color: #f2f4f7;
        border-radius: 12px;
        &:first-of-type {
          margin-left: 0;
        }
      }
      .img_appstore {
        width: 149px;
        height: 35px;
        margin-right: 16px;
        &_ios {
          width: 137px;
          height: 37px;
          margin-right: 28px;
        }
      }
      .img_qr {
        width: 56px;
      }
    }

    .notice_area {
      padding: 18px 24px 23px 32px;

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .title_notice {
        font-size: 16px;
        font-family: "NanumSquareNeoExtraBold";
        line-height: normal;
      }

      a {
        color: #a1afbc;
        font-size: 14px;
        font-family: "NanumSquareNeoBold";
      }

      ul {
        margin-top: 17px;
        margin-bottom: 0;
        padding-left: 0;
        border-top: 1px solid #8d9cbe;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 33px;
          padding: 0 12px;
          border-bottom: 1px solid #d1d7e5;
          font-size: 14px;
          font-family: "NanumSquareNeoBold";

          p {
            font-size: 14px;
            font-family: "NanumSquareNeo";
            color: #3e3e3e;
          }

          span {
            font-size: 12px;
            color: #a1afbc;
            font-family: "NanumSquareNeo";
          }
        }
      }
    }
  }
}

@media (max-width: 1499px) {
  .inner_login {
    .sec_login {
      grid-template-columns: 630px;
      grid-template-rows: 531px 652px;
      margin-top: 58px;
    }

    .panel_left {
      padding: 87px 104px 0 86px;
      border-radius: 20px 20px 0 0;

      .logo_wrap {
        display: flex;
        width: 297px;
        justify-content: space-between;
        margin-top: 8px;
      }

      .logo {
        width: 70%;
        height: 100%;
        margin-top: auto;
        &::before {
          width: 42px;
          height: 45px;
        }
        &::after {
          width: 145px;
          height: 23px;
          margin-left: 10px;
        }
      }

      .login_text {
        display: inline-block;
        font-size: 29px;
        font-family: "NanumSquareNeoExtraBold";
      }

      .login_form_wrap {
        margin-top: 37px;
      }
    }

    .panel_right {
      display: grid;
      grid-template-rows: 176px 137px 212px;
      grid-template-columns: 577px;
      align-items: center;
      justify-content: center;
      padding: 34px 0;
      border-radius: 0 0 20px 20px;

      .img_carecon {
        width: 82px;
      }

      .go_service_container {
        a {
          font-family: "NanumSquareNeoBold";
        }
      }

      .app_download {
        .qr_wrap {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          width: 257px;
          margin-left: 17px;
          padding: 21px 18px;
          background-color: #f2f4f7;
          border-radius: 12px;
          &:first-of-type {
            margin-left: 0;
          }
        }
        .img_appstore {
          width: 149px;
          height: 35px;
          margin-right: 16px;
          &_ios {
            width: 137px;
            height: 37px;
            margin-right: 28px;
          }
        }
        .img_qr {
          display: none;
        }
      }

      .notice_area {
        padding: 18px 24px 23px 32px;

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .title_notice {
          font-size: 16px;
          font-family: "NanumSquareNeoExtraBold";
          line-height: normal;
        }

        a {
          color: #a1afbc;
          font-size: 14px;
          font-family: "NanumSquareNeoBold";
        }

        ul {
          margin-top: 17px;
          margin-bottom: 0;
          padding-left: 0;
          border-top: 1px solid #8d9cbe;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 33px;
            padding: 0 12px;
            border-bottom: 1px solid #d1d7e5;
            font-size: 14px;
            font-family: "NanumSquareNeoBold";

            p {
              font-size: 14px;
              font-family: "NanumSquareNeo";
              color: #3e3e3e;
            }

            span {
              font-size: 12px;
              color: #a1afbc;
              font-family: "NanumSquareNeo";
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .inner_login {
    .sec_login {
      grid-template-columns: 100vw;
      grid-template-rows: 397px 883px;
      margin-top: 0;
    }

    .panel_left {
      padding: 38px 18px 18px;
      border-radius: 0;

      .logo_wrap {
        width: 282px;
        height: 45px;
        margin-top: 14px;
      }

      .logo {
        &::after {
          width: 148px;
          height: 30px;
          margin-left: 10px;
        }
      }

      .login_text {
        font-size: 24px;
      }

      .login_form_wrap {
        margin-top: 20px;
      }

      .input_item {
        height: 52px;
        label {
          top: 19px;
          font-size: 14px;
        }
      }

      .login_form_wrap {
        gap: 11px;
      }

      .btn_login {
        margin-top: 20px;
        padding: 17px 0;
      }
    }

    .panel_right {
      display: block;
      padding: 0;
      border-radius: 0 0 20px 20px;
      margin-top: 0;

      .grid_inner {
        flex-direction: column;
        column-gap: 0;
        padding: 25px 18px 12px 18px;
      }

      .carecon_container {
        padding: 18px 0;
      }

      .btn_carecon {
        gap: 8px;
        padding: 8px 0;
      }

      .img_carecon {
        padding-top: 2px;
      }

      .go_service_container {
        grid-template-columns: 100%;
        row-gap: 12px;
        margin-top: 12px;

        .go_service {
          justify-content: center;
          gap: 12px;
        }

        a {
          font-family: "NanumSquareNeo";
        }
      }

      .app_download {
        background-color: #f2f3f8;

        .title_download {
          margin-bottom: 0;
          font-size: 16px;
        }

        .flex {
          flex-direction: column;
          gap: 13px;
        }

        .download_inner {
          flex-direction: column;
          gap: 13px;
          padding: 18px;
          background-color: #ffffff;
          border-radius: 12px;
        }
        .qr_wrap {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-left: auto;
        }
      }

      .notice_area {
        margin-top: 12px;
        padding: 0 18px 36px 18px;
        background-color: #f2f3f8;

        .notice_inner {
          padding: 18px 18px 23px 18px;
          background-color: #ffffff;
          border-radius: 12px;
        }

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .title_notice {
          font-size: 16px;
          font-family: "NanumSquareNeoExtraBold";
          line-height: normal;
        }

        a {
          color: #a1afbc;
          font-size: 14px;
          font-family: "NanumSquareNeoBold";
        }

        ul {
          margin-top: 17px;
          margin-bottom: 0;
          padding-left: 0;
          // border-top: 1px solid #8d9cbe;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 33px;
            padding: 0 12px;
            border-bottom: 1px solid #d1d7e5;
            font-size: 14px;
            font-family: "NanumSquareNeoBold";

            p {
              font-size: 14px;
              font-family: "NanumSquareNeo";
              color: #3e3e3e;
            }

            span {
              font-size: 12px;
              color: #a1afbc;
              font-family: "NanumSquareNeo";
            }
          }
        }
      }
    }
  }
}
