@charset "UTF-8";
.inner_board {
  position: relative;
}
.inner_board .main_board {
  width: calc(100% - 315px);
  flex-grow: 1;
}
.inner_board .contents {
  padding: 24px 30px 40px 30px;
}
.inner_board .container {
  display: flex;
  flex-direction: row;
}
.inner_board .container_left {
  width: 60%;
}
.inner_board .board_wrap {
  display: flex;
  gap: 2px;
}
.inner_board .board_wrap .board {
  flex-grow: 1;
}
.inner_board .board_wrap .board:nth-of-type(1) {
  margin-left: 0;
}
.inner_board .board_wrap .board .top {
  display: flex;
  flex-wrap: nowrap;
  min-width: calc(25% - 6px);
  padding: 17px 28px 19px 28px;
  background-color: #008ede;
  border-radius: 5px 5px 0 0;
}
.inner_board .board_wrap .board .top.first {
  border-radius: 12px 5px 0 0;
}
.inner_board .board_wrap .board .top.last {
  border-radius: 5px 12px 0 0;
}
.inner_board .board_wrap .board .top img {
  display: inline-block;
  width: 26px;
  height: 26px;
}
.inner_board .board_wrap .board .top span {
  margin-left: 3px;
  color: #fff;
  font-size: 24px;
  font-family: "NanumSquareNeo";
  line-height: 24px;
  text-wrap: wrap;
}
.inner_board .board_wrap .board .bottom {
  min-width: calc(25% - 6px);
  padding: 14px 32px 32px 28px;
  background-color: #019ef7;
  border-radius: 0 0 5px 5px;
}
.inner_board .board_wrap .board .bottom.first {
  border-radius: 0 0 5px 12px;
}
.inner_board .board_wrap .board .bottom.last {
  border-radius: 0 0 12px 5px;
}
.inner_board .board_wrap .board .bottom .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 39px;
}
.inner_board .board_wrap .board .bottom .wrap:last-of-type {
  margin-top: 8px;
}
.inner_board .board_wrap .board .bottom .wrap .subject {
  color: #fff;
  font-size: 14px;
  font-family: "NanumSquareNeo";
  opacity: 60%;
}
.inner_board .board_wrap .board .bottom .wrap .info {
  color: #fff;
  font-size: 16px;
  font-family: "NanumSquareNeo";
}
.inner_board .board_wrap .board .bottom .wrap .info strong {
  margin-right: 6px;
  font-size: 26px;
  font-family: "NanumSquareNeoBold";
}
.inner_board .current_area {
  position: relative;
  margin-top: 13px;
  padding: 19px 0 0 28px;
  box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
  border-radius: 12px;
}
.inner_board .current_area .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 44px;
}
.inner_board .current_area .top .wrap {
  display: flex;
  align-items: center;
}
.inner_board .current_area .top .dropdown {
  position: relative;
  width: 180px;
  margin-left: 24px;
}
.inner_board .current_area .top .dropdown[aria-expanded=true] .btn_dropdown::after {
  top: 10px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.inner_board .current_area .top .dropdown[aria-expanded=true] .dropdown_list {
  display: block;
  transition: transform 0.3s ease;
}
.inner_board .current_area .top .btn_dropdown {
  position: relative;
  width: 180px;
  padding: 9px;
  font-size: 15px;
  font-family: "NanumSquareNeo";
  color: #212121;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
}
.inner_board .current_area .top .btn_dropdown::after {
  position: absolute;
  display: inline-block;
  top: 18px;
  right: 7px;
  width: 14px;
  height: 14px;
  background: url("../../assets/images/arrow.svg") no-repeat center/contain;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  content: "";
}
.inner_board .current_area .top .dropdown_list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 1;
}
.inner_board .current_area .top .dropdown_item {
  padding: 8px;
  color: #212121;
  font-size: 14px;
  font-family: "NanumSquareNeoLight";
}
.inner_board .current_area .top .dropdown_item:hover {
  background-color: #f2f4f7;
}
.inner_board .current_area .top a {
  font-size: 16px;
  font-family: "NanumSquareNeo";
  color: #f8a92f;
}
.inner_board .current_area .mobile_dropdown_wrap {
  display: none;
}
.inner_board .current_area .bottom {
  position: relative;
}
.inner_board .current_area .bottom .btn_next {
  position: absolute;
  top: 10px;
  right: 34px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1.4px 12px 0 rgba(55, 78, 126, 0.26);
  z-index: 1;
}
.inner_board .current_area .bottom .btn_next::after {
  display: inline-block;
  width: 10px;
  height: 14px;
  margin-top: 3px;
  background: url("../../assets/images/arrow_right.svg") no-repeat center;
  content: "";
}
.inner_board .current_area .bottom .menu {
  display: flex;
  flex-wrap: nowrap;
  max-width: 90%;
  margin-top: 15px;
  overflow-x: scroll;
}
.inner_board .current_area .bottom .menu::-webkit-scrollbar {
  display: none;
}
.inner_board .current_area .bottom .menu li {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: nowrap;
  padding: 10px 9px 10px 16px;
  font-size: 18px;
  font-family: "NanumSquareNeoLight";
  color: #6e6e6e;
  cursor: pointer;
}
.inner_board .current_area .bottom .menu li.active {
  font-family: "NanumSquareNeoExtraBold";
  color: #000;
}
.inner_board .current_area .bottom .menu li.active::after {
  position: absolute;
  width: 100%;
  height: 3.5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8a92f;
  content: "";
}
.inner_board .current_area .bottom .menu li.active span {
  color: #fff;
  background-color: #f8a92f;
}
.inner_board .current_area .bottom .menu li span {
  position: relative;
  width: 28px;
  height: 28px;
  margin-left: 6px;
  color: #6e6e6e;
  font-size: 12px;
  font-family: "NanumSquareNeo";
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  background-color: #f2f4f7;
}
.inner_board .current_area .bottom .grid {
  max-height: 390px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.inner_board .current_area .bottom .grid::-webkit-scrollbar {
  width: 44px;
}
.inner_board .current_area .bottom .grid::-webkit-scrollbar-thumb {
  max-height: 70px;
  border: 19px solid transparent;
  border-radius: 50px;
  background-color: #a8b6c4;
  background-clip: padding-box;
}
.inner_board .current_area .bottom .grid::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.inner_board .current_area .bottom .grid::-webkit-scrollbar-button {
  display: none;
}
.inner_board .current_area .bottom .grid_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-width: 100%;
  margin-bottom: 0;
}
.inner_board .current_area .bottom .grid_header li {
  flex-wrap: nowrap;
  flex-grow: 1;
  height: 42px;
  line-height: 42px;
  color: #3e3e3e;
  font-size: 16px;
  font-family: "NanumSquareNeo";
  background-color: #f2f4f7;
  text-align: center;
}
.inner_board .current_area .bottom .grid_header li:first-of-type {
  min-width: 17.6%;
}
.inner_board .current_area .bottom .grid_header li.title {
  max-width: 324px;
}
.inner_board .current_area .bottom .grid_body ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-width: 100%;
  height: 58px;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #8d9cbe;
}
.inner_board .current_area .bottom .grid_body ul:last-of-type {
  border-bottom: none;
}
.inner_board .current_area .bottom .grid_body li {
  overflow: hidden;
  width: 100%;
  color: #3e3e3e;
  font-size: 14px;
  font-family: "NanumSquareNeo";
  line-height: 58px;
  text-align: center;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
.inner_board .current_area .bottom .grid_body li:first-of-type {
  min-width: 17.6%;
}
.inner_board .current_area .bottom .grid_body li.txt-left {
  text-align: left;
}
.inner_board .current_area .bottom .grid_body li.active {
  color: #ff0000;
  font-family: "NanumSquareNeoHeavy";
}
.inner_board .monthly_area {
  margin-top: 24px;
  padding: 24px 28px 17px 28px;
  box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
  border-radius: 12px;
}
.inner_board .monthly_area .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
}
.inner_board .monthly_area .bottom .bar_chart_area {
  position: relative;
  height: 274px;
}
.inner_board .monthly_area .bottom .bar_chart_area p {
  margin-top: 2rem;
  font-size: 13px;
}
.inner_board .monthly_area .bottom .bar_chart_area #barChart {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}
.inner_board .container_right {
  width: calc(40% - 14px);
  margin-left: 14px;
}
.inner_board .container_right .wrap {
  display: flex;
  flex-direction: column;
}
.inner_board .assignment_area {
  padding: 24px 0;
  box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
  border-radius: 12px;
}
.inner_board .assignment_area .top {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px 20px 28px;
}
.inner_board .assignment_area .top .date {
  display: block;
}
.inner_board .assignment_area .top .wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}
.inner_board .assignment_area .top .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  min-width: 23.4%;
}
.inner_board .assignment_area .top .toggle span {
  flex-shrink: 0;
  font-size: 18px;
  font-family: "NanumSquareNeo";
  color: #7f8d99;
}
.inner_board .assignment_area .top .toggle span.active {
  color: #f8a92f;
  font-weight: 900px;
}
.inner_board .assignment_area .top .toggle input {
  appearance: none;
  position: relative;
  width: 30px;
  height: 15px;
}
.inner_board .assignment_area .top .toggle label {
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: #dbdddf;
  border-radius: 113px;
  transition: background 0.4s;
  cursor: pointer;
}
.inner_board .assignment_area .top .toggle label::after {
  position: absolute;
  right: 1px;
  top: 50%;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #fff;
  transform: translateY(-50%);
  transition: all 0.4s;
  content: "";
}
.inner_board .assignment_area .top .toggle label::before {
  font-size: 24px;
  position: absolute;
  left: 47px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
  content: "";
}
.inner_board .assignment_area .top .toggle #switch:checked + label {
  background-color: #f8a92f;
}
.inner_board .assignment_area .top .toggle #switch:checked + label::after {
  right: 16px;
}
.inner_board .assignment_area .bottom {
  border-top: 1px solid #d1d7e5;
}
.inner_board .assignment_area .bottom .data.details {
  display: none;
}
.inner_board .assignment_area .bottom .data.details.is-show {
  display: block;
}
.inner_board .assignment_area .bottom .data.details .option_dropdown_area {
  display: flex;
  gap: 12px;
  padding: 18px 47px 28px 28px;
}
.inner_board .assignment_area .bottom .data.details .option_dropdown_wrap {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: calc(33.3333333333% - 12px);
}
.inner_board .assignment_area .bottom .data.details .option_dropdown_wrap[aria-expanded=true] .option_dropdown_btn::after {
  top: 12px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.inner_board .assignment_area .bottom .data.details .option_dropdown_wrap[aria-expanded=true] .option_dropdown_list {
  display: block;
  transition: transform 0.3s ease;
}
.inner_board .assignment_area .bottom .data.details .option_dropdown_btn {
  overflow: hidden;
  width: 100%;
  height: 39px;
  padding: 0 8px;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  border-radius: 4px;
  text-align: left;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  cursor: pointer;
}
.inner_board .assignment_area .bottom .data.details .option_dropdown_btn::after {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 8px;
  width: 13px;
  height: 13px;
  background: url("../../assets/images/arrow.svg") no-repeat center/contain;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  content: "";
}
.inner_board .assignment_area .bottom .data.details .option_dropdown_list {
  position: absolute;
  display: none;
  top: 100%;
  width: 100%;
  border: 1px solid #bdbdbd;
  text-align: left;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  transition: transform 0.3s ease;
  z-index: 1;
}
.inner_board .assignment_area .bottom .data.details .option_dropdown_item {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}
.inner_board .assignment_area .bottom .data.details .state {
  padding: 0 44px 0 28px;
  margin-bottom: 0;
}
.inner_board .assignment_area .bottom .data.details .state li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: 20px;
}
.inner_board .assignment_area .bottom .data.details .state li:first-of-type {
  margin-top: 0;
}
.inner_board .assignment_area .bottom .data.details .state li .subject {
  font-size: 16px;
  color: #a1afbc;
}
.inner_board .assignment_area .bottom .data.details .state li .info {
  font-size: 20px;
  color: #000;
}
.inner_board .assignment_area .bottom .data.details .state li .info strong {
  margin-right: 3px;
}
.inner_board .assignment_area .bottom .data.summary {
  display: none;
}
.inner_board .assignment_area .bottom .data.summary.is-show {
  display: block;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_area {
  display: flex;
  gap: 12px;
  padding: 18px 28px 12px 28px;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_wrap[aria-expanded=true] .option_dropdown_btn::after {
  top: 12px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_wrap[aria-expanded=true] .option_dropdown_list {
  display: block;
  transition: transform 0.3s ease;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_wrap .division {
  display: flex;
  gap: 12px;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_wrap .division span {
  display: flex;
  color: #828282;
  font-size: 16px;
  font-family: "NanumSquareNeo";
  line-height: 24px;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_wrap .division span::before {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 12px;
  background-color: #ebebeb;
  border-radius: 50%;
  content: "";
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_wrap .division span:last-of-type::before {
  background-color: #f8a92f;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_btn {
  overflow: hidden;
  position: relative;
  min-width: 114px;
  height: 39px;
  padding: 0 8px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  border-radius: 4px;
  text-align: left;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  cursor: pointer;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_btn::after {
  position: absolute;
  display: inline-block;
  top: 20px;
  right: 8px;
  width: 13px;
  height: 13px;
  background: url("../../assets/images/arrow.svg") no-repeat center/contain;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  content: "";
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_list {
  position: absolute;
  display: none;
  top: 100%;
  width: 100%;
  border: 1px solid #bdbdbd;
  text-align: left;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  transition: transform 0.3s ease;
  z-index: 1;
}
.inner_board .assignment_area .bottom .data.summary .option_dropdown_item {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}
.inner_board .completed_area {
  margin-top: 10px;
  padding: 28px 18px 40px 38px;
  box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
  border-radius: 12px;
}
.inner_board .completed_area .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_board .completed_area .info_wrap {
  height: 32px;
  margin-top: 18px;
}
.inner_board .completed_area .info_wrap span {
  font-size: 18px;
  font-family: "NanumSquareNeoExtraBold";
  line-height: 32px;
}
.inner_board .completed_area .info_wrap .bg_grey {
  padding: 4px 12px;
  font-size: 16px;
  font-family: "NanumSquareNeo";
  color: #171717;
  background-color: #eff2f5;
  border-radius: 20px;
}
.inner_board .completed_area .info_wrap .bg_blue {
  margin-left: 22px;
  padding: 4px 12px;
  font-size: 16px;
  font-family: "NanumSquareNeo";
  color: #fff;
  background-color: #019ef7;
  border-radius: 20px;
}
.inner_board .completed_area .doughnut_chart_area {
  width: 100%;
  height: 257px;
  margin-top: 53px;
}
.inner_board .completed_area .doughnut_chart_area #doughnutChart {
  width: 270px !important;
  height: 100% !important;
  margin: 0 auto;
}
.inner_board .notice_area {
  margin-top: 32px;
  padding: 24px 28px;
  box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
  border-radius: 12px;
}
.inner_board .notice_area .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
}
.inner_board .notice_area .top a {
  color: #f8a92f;
  font-family: "NanumSquareNeo";
}
.inner_board .notice_area ul {
  margin-bottom: 0;
  padding-left: 0;
  border-top: 1px solid #8d9cbe;
}
.inner_board .notice_area ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  padding: 0 8px;
  border-bottom: 1px solid #d1d7e5;
}
.inner_board .notice_area ul li p {
  font-size: 14px;
  font-family: "NanumSquareNeo";
  color: #3e3e3e;
}
.inner_board .notice_area ul li span {
  font-size: 12px;
  color: #a1afbc;
  font-family: "NanumSquareNeo";
}
.inner_board .w-83 {
  min-width: 83px;
}
.inner_board .w-93 {
  max-width: 93px;
}
.inner_board .w-324 {
  min-width: 324px;
}

@media (max-width: 1499px) {
  .inner_board .main_board {
    width: 100%;
  }
  .inner_board .contents {
    padding: 24px 24px 60px 24px;
  }
  .inner_board .container {
    display: flex;
    flex-direction: column;
  }
  .inner_board .container_left {
    width: 100%;
  }
  .inner_board .board_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
  .inner_board .board_wrap .board .top {
    padding: 12px 40px 14px 40px;
    background-color: #008ede;
    border-radius: 5px 5px 0 0;
  }
  .inner_board .board_wrap .board .top.first {
    border-radius: 12px 5px 0 0;
  }
  .inner_board .board_wrap .board .top.second {
    border-radius: 5px 12px 0 0;
  }
  .inner_board .board_wrap .board .top.third {
    border-radius: 12px 5px 0 0;
  }
  .inner_board .board_wrap .board .top.last {
    border-radius: 5px 12px 0 0;
  }
  .inner_board .board_wrap .board .top img {
    display: inline-block;
    width: 34px;
    height: 34px;
  }
  .inner_board .board_wrap .board .top span {
    margin-left: 10px;
    line-height: 34px;
  }
  .inner_board .board_wrap .board .bottom {
    min-width: calc(50% - 8px);
    padding: 21px 42px 20px 37px;
    border-radius: 0 0 5px 5px;
  }
  .inner_board .board_wrap .board .bottom.first {
    border-radius: 0 0 5px 12px;
  }
  .inner_board .board_wrap .board .bottom.second {
    border-radius: 0 0 12px 5px;
  }
  .inner_board .board_wrap .board .bottom.third {
    border-radius: 0 0 5px 12px;
  }
  .inner_board .board_wrap .board .bottom.last {
    border-radius: 0 0 12px 5px;
  }
  .inner_board .board_wrap .board .bottom .wrap:last-of-type {
    margin-top: 17px;
  }
  .inner_board .current_area {
    margin-top: 24px;
    padding: 24px 0 24px 24px;
    box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
    border-radius: 12px;
  }
  .inner_board .current_area ul {
    display: none;
  }
  .inner_board .current_area a {
    font-size: 16px;
    font-family: "NanumSquareNeo";
    color: #f8a92f;
  }
  .inner_board .current_area .mobile_dropdown_wrap {
    display: none;
  }
  .inner_board .current_area .top {
    padding-right: 24px;
  }
  .inner_board .current_area .bottom .menu {
    width: 100%;
    margin-top: 18px;
  }
  .inner_board .current_area .bottom .menu li {
    font-size: 18px;
  }
  .inner_board .current_area .bottom .grid {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 465px;
  }
  .inner_board .current_area .bottom .grid::-webkit-scrollbar {
    width: 22px;
  }
  .inner_board .current_area .bottom .grid::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .inner_board .current_area .bottom .grid::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border-color: #a8b6c4;
    background-color: #a8b6c4;
    background-clip: padding-box;
    border: 9px solid #fff;
  }
  .inner_board .current_area .bottom .grid_header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-height: 48px;
    margin-bottom: 0;
    padding-left: 0;
  }
  .inner_board .current_area .bottom .grid_header li.title {
    max-width: 324px;
  }
  .inner_board .current_area .bottom .grid_body li {
    padding: 0;
    font-size: 16px;
    line-height: 58px;
  }
  .inner_board .monthly_area {
    padding: 28px 0 24px 24px;
  }
  .inner_board .monthly_area .top {
    padding-right: 24px;
    padding-bottom: 22px;
  }
  .inner_board .monthly_area .bottom .bar_chart_area #bar-chart {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .inner_board .monthly_area .bottom .bar_chart_area #bar-chart::-webkit-scrollbar {
    width: 18px;
    background-color: #fff;
  }
  .inner_board .monthly_area .bottom .bar_chart_area #bar-chart::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .inner_board .monthly_area .bottom .bar_chart_area #bar-chart::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border-color: #a8b6c4;
    background-color: #a8b6c4;
    background-clip: padding-box;
    border: 6px solid #fff;
  }
  .inner_board .monthly_area .bottom .bar_chart_area p {
    margin-top: 2rem;
    font-size: 13px;
  }
  .inner_board .monthly_area .bottom .bar_chart_area #bar-chart {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .inner_board .container_right {
    width: 100%;
    margin-top: 24px;
    margin-left: 0;
  }
  .inner_board .container_right .wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 12px;
  }
  .inner_board .assignment_area {
    padding: 24px 0 0;
  }
  .inner_board .assignment_area .top {
    padding: 0 24px 15px 24px;
  }
  .inner_board .assignment_area .top .date {
    display: none;
  }
  .inner_board .assignment_area .top .toggle {
    min-width: auto;
    gap: 7px;
    justify-content: space-evenly;
  }
  .inner_board .assignment_area .bottom {
    border-top: 1px solid #d1d7e5;
  }
  .inner_board .assignment_area .bottom .data {
    /* 상세 배정 현황 UI */
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_area {
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px 24px 45px 24px;
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_wrap {
    max-width: 33.3333333333%;
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_btn {
    min-width: 97px;
    margin-left: 10px;
    font-size: 15px;
    color: #212121;
    padding: 0 4px;
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_btn:first-of-type {
    margin-left: 0;
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_btn::after {
    right: 3px;
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_list {
    display: none;
  }
  .inner_board .assignment_area .bottom .data.details .state {
    padding: 0 24px 0 28px;
  }
  .inner_board .assignment_area .bottom .data.details .state li {
    height: 30px;
  }
  .inner_board .assignment_area .bottom .data.details .state li .info {
    font-family: "NanumSquareNeoExtraBold";
  }
  .inner_board .assignment_area .bottom .data.details .state li .info strong {
    margin-right: 3px;
  }
  .inner_board .assignment_area .bottom .data.summary .option_dropdown_area {
    padding: 20px 24px 39px 24px;
  }
  .inner_board .assignment_area .bottom .data.summary .option_dropdown_btn {
    overflow: hidden;
    position: relative;
    min-width: 114px;
    height: 39px;
    padding: 0 8px;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    cursor: pointer;
  }
  .inner_board .assignment_area .bottom .data.summary .option_dropdown_btn::after {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 8px;
    width: 13px;
    height: 13px;
    background: url("../../assets/images/arrow.svg") no-repeat center/contain;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    content: "";
  }
  .inner_board .assignment_area .bottom .data.summary .option_dropdown_list {
    position: absolute;
    display: none;
    top: 100%;
    width: 100%;
    border: 1px solid #bdbdbd;
    text-align: left;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  .inner_board .assignment_area .bottom .data.summary .option_dropdown_item {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  .inner_board .completed_area {
    margin-top: 0;
    padding: 28px 24px 28px 24px;
    box-shadow: 0 3px 12px 1px rgba(103, 64, 0, 0.12);
    border-radius: 12px;
  }
  .inner_board .completed_area .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .inner_board .completed_area .top .time {
    display: none;
  }
  .inner_board .completed_area .ring_chart {
    margin-top: 34px;
  }
  .inner_board .notice_area {
    margin-top: 24px;
  }
  .inner_board .notice_area .top {
    padding-bottom: 24px;
  }
  .inner_board .notice_area .top a {
    color: #f8a92f;
    font-family: "NanumSquareNeo";
  }
  .inner_board .notice_area ul {
    margin-bottom: 0;
    padding-left: 0;
    border-top: 1px solid #8d9cbe;
  }
}
@media (max-width: 767px) {
  .inner_board .contents {
    padding: 16px 18px 72px 18px;
  }
  .inner_board .board_wrap {
    grid-row-gap: 2px;
    grid-column-gap: 2px;
  }
  .inner_board .board_wrap .board .top {
    align-items: center;
    padding: 14px 12px 14px 12px;
  }
  .inner_board .board_wrap .board .top img {
    width: 24px;
    height: 24px;
  }
  .inner_board .board_wrap .board .top span {
    margin-left: 4px;
    line-height: 16px;
    font-size: 16px;
  }
  .inner_board .board_wrap .board .bottom {
    padding: 16px 14px 16px 18px;
    border-radius: 0 0 5px 5px;
  }
  .inner_board .board_wrap .board .bottom .wrap:last-of-type {
    margin-top: 16px;
  }
  .inner_board .current_area {
    padding: 14px 0 18px 18px;
  }
  .inner_board .current_area .top {
    padding-right: 14px;
  }
  .inner_board .current_area .top .dropdown {
    display: none;
  }
  .inner_board .current_area .mobile_dropdown_wrap {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  .inner_board .current_area .mobile_dropdown_wrap button {
    position: relative;
    padding: 8px;
    color: #212121;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: 14px;
    font-family: "NanumSquareNeo";
    text-align: left;
  }
  .inner_board .current_area .mobile_dropdown_wrap button::after {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 7px;
    width: 14px;
    height: 14px;
    background: url("../../assets/images/arrow.svg") no-repeat center/contain;
    transform: translateY(-50%);
    content: "";
  }
  .inner_board .current_area .mobile_dropdown_wrap button.left {
    min-width: 170px;
  }
  .inner_board .current_area .mobile_dropdown_wrap button.right {
    min-width: 120px;
  }
  .inner_board .current_area .bottom .btn_next {
    display: none;
  }
  .inner_board .current_area .bottom .menu {
    display: none;
  }
  .inner_board .current_area .bottom .grid {
    overflow-x: scroll;
    overflow-y: scroll;
    margin-top: 24px;
  }
  .inner_board .current_area .bottom .grid::-webkit-scrollbar {
    width: 18px;
    background-color: #fff;
  }
  .inner_board .current_area .bottom .grid::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .inner_board .current_area .bottom .grid::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border-color: #a8b6c4;
    background-color: #a8b6c4;
    background-clip: padding-box;
    border: 6px solid #fff;
  }
  .inner_board .current_area .bottom .grid::-webkit-scrollbar-button {
    display: none;
  }
  .inner_board .current_area .bottom .grid_header {
    max-height: 42px;
  }
  .inner_board .current_area .bottom .grid_header li.title {
    max-width: 200px;
  }
  .inner_board .current_area .bottom .grid_body {
    overflow-x: scroll;
    min-width: 100%;
  }
  .inner_board .current_area .bottom .grid_body li {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 52px;
  }
  .inner_board .current_area .bottom .grid_body li:first-of-type {
    min-width: auto;
  }
  .inner_board .monthly_area {
    padding: 14px 18px 28px 14px;
  }
  .inner_board .monthly_area .top {
    padding-right: 0;
    padding-bottom: 0;
  }
  .inner_board .monthly_area .top .date {
    display: flex;
    align-items: center;
  }
  .inner_board .monthly_area .top .date span {
    font-size: 14px;
  }
  .inner_board .monthly_area .bottom {
    margin-top: 27px;
  }
  .inner_board .container_right .wrap {
    display: block;
  }
  .inner_board .assignment_area {
    padding: 14px 0 46px;
  }
  .inner_board .assignment_area .top {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px 18px 18px;
  }
  .inner_board .assignment_area .top .toggle span {
    font-size: 14px;
  }
  .inner_board .assignment_area .top .date {
    display: none;
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_area {
    padding: 18px 15px 28px 18px;
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_wrap {
    min-width: 97px;
  }
  .inner_board .assignment_area .bottom .data.details .option_dropdown_btn {
    padding: 0 3px;
  }
  .inner_board .assignment_area .bottom .data .state {
    padding: 0 18px;
  }
  .inner_board .assignment_area .bottom .data.summary .option_dropdown_area {
    padding: 18px 18px 32px 18px;
  }
  .inner_board .assignment_area .bottom .data.summary .option_dropdown_btn {
    min-width: 94px;
    padding: 0 3px;
  }
  .inner_board .completed_area {
    margin-top: 24px;
    padding: 14px 18px 24px 18px;
  }
  .inner_board .completed_area .info_wrap span {
    font-size: 16px;
    line-height: 24px;
  }
  .inner_board .completed_area .info_wrap .bg_grey,
  .inner_board .completed_area .info_wrap .bg_blue {
    font-size: 14px;
  }
  .inner_board .completed_area .doughnut_chart_area {
    margin-top: 24px;
  }
  .inner_board .completed_area .chart {
    margin-top: 24px;
  }
  .inner_board .notice_area {
    margin-top: 24px;
    padding: 18px 18px 23px 18px;
  }
  .inner_board .notice_area .top {
    padding-bottom: 20px;
  }
  .inner_board .notice_area .top a {
    font-size: 14px;
  }
}/*# sourceMappingURL=dashboard.css.map */