.inner_login {
  background-color: #1e1e1e;
}
.inner_login .sec_login {
  display: grid;
  grid-template-columns: 652px 652px;
  grid-template-rows: 690px 690px;
  margin-top: 178px;
}
.inner_login .panel_left {
  position: relative;
  padding: 143px 104px;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}
.inner_login .panel_left .header_text {
  color: #737373;
  font-size: 18px;
}
.inner_login .panel_left .logo_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_login .panel_left .logo {
  position: relative;
  top: auto;
  left: auto;
  margin-top: 8px;
}
.inner_login .panel_left .login_text {
  display: inline-block;
  font-size: 29px;
  font-family: "NanumSquareNeoExtraBold";
}
.inner_login .panel_left .login_form_wrap {
  margin-top: 40px;
}
.inner_login .panel_left .input_item {
  position: relative;
  height: 54px;
}
.inner_login .panel_left .input_item input {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 24px 24px 8px;
  font-size: 16px;
  border: 1px solid #d7d7d7;
  border-radius: 12px;
  outline: none;
}
.inner_login .panel_left .input_item input:focus-within {
  border: 1px solid #f8a92f;
}
.inner_login .panel_left .input_item input:focus-within + label {
  top: 12px;
  left: 20px;
  font-size: 10px;
  transition: all 0.3s;
}
.inner_login .panel_left .input_item label {
  position: absolute;
  top: 16px;
  left: 24px;
  color: #bebebe;
  font-size: 16px;
  transition: all 0.3s;
}
.inner_login .panel_left .input_item.password {
  margin-top: 12px;
}
.inner_login .panel_left .login_keep_area_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.inner_login .panel_left .login_keep_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.inner_login .panel_left #keepLogin {
  appearance: none;
  width: 23px;
  height: 23px;
}
.inner_login .panel_left #keepLogin::after {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/checkbox.svg") no-repeat center/contain;
  content: "";
}
.inner_login .panel_left #keepLogin:checked::after {
  background: url("../../assets/images/checkbox-active.svg") no-repeat center;
}
.inner_login .panel_left .login_keep_label {
  color: #3b3b3b;
  font-size: 14px;
}
.inner_login .panel_left .msg_password {
  justify-self: end;
  color: #3b3b3b;
  font-size: 14px;
  text-decoration: underline;
}
.inner_login .panel_left .btn_login {
  width: 100%;
  margin-top: 36px;
  padding: 22px 0;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  background-color: #f4a03b;
  font-size: 16px;
}
.inner_login .panel_right {
  display: grid;
  grid-template-rows: 176px 165px 212px;
  grid-template-columns: 1fr;
  row-gap: 13px;
  padding: 56px 36px 56px 39px;
  background-color: #f2f3f8;
  border-radius: 0 20px 20px 0;
}
.inner_login .panel_right > div {
  border-radius: 12px;
  background-color: #ffffff;
}
.inner_login .panel_right .grid_inner {
  display: flex;
  column-gap: 12px;
  background-color: #f2f3f8;
}
.inner_login .panel_right .carecon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 30px;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
}
.inner_login .panel_right .title_carecon {
  font-family: "NanumSquareNeoExtraBold";
  font-size: 16px;
}
.inner_login .panel_right .number_box {
  margin-top: 25px;
  font-size: 0;
}
.inner_login .panel_right .number_box span {
  display: inline-block;
  margin-left: 8px;
  padding: 7px 10px;
  border-radius: 4px;
  background-color: #f2f4f7;
  font-family: "NanumSquareNeoExtraBold";
  font-size: 20px;
}
.inner_login .panel_right .number_box span:first-of-type {
  margin-left: 0;
}
.inner_login .panel_right .btn_carecon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 212px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px 0;
  background-color: #1897f4;
  border-radius: 12px;
  font-family: "NanumSquareNeoBold";
  font-size: 14px;
  color: #ffffff;
  border: none;
}
.inner_login .panel_right .img_carecon {
  width: 85px;
}
.inner_login .panel_right .go_service_container {
  display: grid;
  grid-template-columns: 294px;
  grid-template-rows: 83px 83px;
  row-gap: 10px;
  background-color: #f2f4f7;
  border-radius: 12px;
}
.inner_login .panel_right .go_service_container .go_service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 14px 14px 18px;
  background-color: #ffffff;
  border-radius: 12px;
}
.inner_login .panel_right .go_service_container p {
  font-size: 14px;
  color: #1e1e1e;
}
.inner_login .panel_right .go_service_container a {
  display: inline-block;
  font-family: "NanumSquareNeoExtraBold";
  font-size: 18px;
}
.inner_login .panel_right .app_download {
  padding: 18px 18px 18px 28px;
  font-size: 0;
}
.inner_login .panel_right .app_download .qr_wrap {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 257px;
  margin-left: 17px;
  padding: 21px 18px;
  background-color: #f2f4f7;
  border-radius: 12px;
}
.inner_login .panel_right .app_download .qr_wrap:first-of-type {
  margin-left: 0;
}
.inner_login .panel_right .app_download .img_appstore {
  width: 149px;
  height: 35px;
  margin-right: 16px;
}
.inner_login .panel_right .app_download .img_appstore_ios {
  width: 137px;
  height: 37px;
  margin-right: 28px;
}
.inner_login .panel_right .app_download .img_qr {
  width: 56px;
}
.inner_login .panel_right .notice_area {
  padding: 18px 24px 23px 32px;
}
.inner_login .panel_right .notice_area .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_login .panel_right .notice_area .title_notice {
  font-size: 16px;
  font-family: "NanumSquareNeoExtraBold";
  line-height: normal;
}
.inner_login .panel_right .notice_area a {
  color: #a1afbc;
  font-size: 14px;
  font-family: "NanumSquareNeoBold";
}
.inner_login .panel_right .notice_area ul {
  margin-top: 17px;
  margin-bottom: 0;
  padding-left: 0;
  border-top: 1px solid #8d9cbe;
}
.inner_login .panel_right .notice_area ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  padding: 0 12px;
  border-bottom: 1px solid #d1d7e5;
  font-size: 14px;
  font-family: "NanumSquareNeoBold";
}
.inner_login .panel_right .notice_area ul li p {
  font-size: 14px;
  font-family: "NanumSquareNeo";
  color: #3e3e3e;
}
.inner_login .panel_right .notice_area ul li span {
  font-size: 12px;
  color: #a1afbc;
  font-family: "NanumSquareNeo";
}/*# sourceMappingURL=loginPage.css.map */